<!--
        This web page was created to help players produce
        3rd edition D&D characters quickly and easily. It
        accepts some basic input from the user, then displays
        a basic character sheet (in HTML). A simple, blank
        sheet can also be displayed for printing purposes.

	This page has been tested and works with Internet Explorer,
	Opera, Firefox, Mozilla and Konqueror.
	This page does not fully function with Netscape.

        Please feel free to copy, alter and use
        this HTML/JavaScript code at will. However I ask
        that you document and send me any logic
        changes. Thank you. This generator is licensed under
        the GNU General Public License (GPL) version 2. 
        For more information please see 
        http://www.fsf.org/licenses/gpl.html

        Technical assistance provided by Isaac Sabean.
	Random name generator provided by David A. Wheeler.

        Version - 4.5
        Written by Jesse Smith <slicer69@hotmail.com>
        http://slicer69.tripod.com/

	Transformed by Alexis Wilke <alexis@m2osw.com>
	to work in the Turn Watcher website and in
	Drupal in general.
	See: http://www.turnwatcher/dnd_character_generator
-->

<div id="dnd-character-generator">
  <script src="@DND_PATH@/dnd.js" type="text/javascript"></script>
   <center>
   <form name="main">

     <table width="480">
	<tr>
	  <td colspan="3">
            <p style="text-align: center; font-weight: bold; margin-bottom: 30px;">
            Third Edition (3.5) Dungeons and Dragons<br/>
            Character Generator<br/>
            Version -- 4.5<br/>
            </p>
	  </td>
	</tr>
        <tr>
          <td align="center">
            <input type="button" name="top_about_button" value="About this Generator" onclick="Show_About()"/>
          </td>
          <td align="center">
            <input type="button" name="faq_button" value="FAQs" onclick="Show_FAQs('@DND_PATH@')"/>
          </td>
          <td align="center">
            <input type="button" name="update_button" value="Check for Updates" onclick="Check_Update()"/>
          </td>
         </tr>
     </table>
     <p>&nbsp;</p>
     <table width="480">
         <tr>
          <td align="center">
            <input type="button" name="display_empty" value="Display Empty Sheet" onclick="Display_Empty_Sheet()"/>
          </td>
          <td align="center">
            <a href="javascript:return 0;" onclick="Display_Help()">Display Help</a>
          </td>
        </tr>
     </table>
     <table width="480">
        <tr>
          <td colspan="3" align="center" class="sub-title">Player &amp; Character Info</td>
        </tr>
        <tr>
          <td align="right">Name:</td>
          <td>
            <input type="text" name="character_name" size="30" value="Character Name"/>
          </td>
          <td>
            <input type="button" name="random_name" value="Random" onclick="Get_RandomName()"/>
          </td>
        </tr>

        <tr>
          <td align="right">Player:</td>
          <td>
            <input type="text" name="player_name" size="30" value="Player Name"/>
          </td>
          <td>
            <a href="javascript:return 0;" onclick="Name_Help()">Name Help</a>
          </td>
        </tr>

        <tr>
          <td align="right">Race:</td>
          <td colspan="2">
            <select name="race" size="1" onchange="Set_Race()">
             <option>Human</option>
             <option>Elf</option>
             <option>Dwarf</option>
             <option>Halfling</option>
             <option>Half Elf</option>
             <option>Half Orc</option>
             <option>Gnome</option>   
            </select>

            <a href="javascript:return 0;" onclick="Race_Help()">Help choosing a race</a>
          </td>
        </tr>

        <tr>
         <td align="right">Starting&nbsp;class:</td>
         <td colspan="2">
           <select name="starting_class" onchange="Set_Starting_Class()">
             <option>Barbarian</option>
             <option>Bard</option>
             <option>Cleric</option>
             <option>Druid</option>
             <option>Fighter</option>
             <option>Monk</option>
             <option>Paladin</option>
             <option>Ranger</option>
             <option>Rogue</option>
             <option>Sorcerer</option>
             <option>Wizard</option>
           </select>
           <a  href="javascript:return 0;" onclick="Starting_Class_Help()">Help choosing a starting class</a>
         </td>
        </tr>
     </table>
     <table width="480">
        <tr>
          <td colspan="3" align="center" class="sub-title">Choose your Classes<br/>
            <a href="javascript:return 0;" onclick="Class_Help()">Help selecting classes</a>
          </td>
        </tr>

        <tr>
          <td align="center"><b>Have/Not have</b></td>
          <td align="center"><b>Classes</b></td>
          <td align="center"><b>Levels</b></td>
        </tr>

        <tr>
          <td align="center">
            <input type="checkbox" name="barbarian_class" checked="checked" onclick="Set_Class()"/>
          </td>
          <td align="center">
            Barbarian
          </td>
          <td align="center">
            <select name="barbarian_level" onchange="Set_Class()">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </td>
        </tr>

        <tr>
          <td align="center">
            <input type="checkbox" name="bard_class" onclick="Set_Class()"/>
          </td>
          <td align="center">
            Bard
          </td>
          <td align="center">
            <select name="bard_level" onchange="Set_Class()">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </td>
        </tr>

        <tr>
          <td align="center">
            <input type="checkbox" name="cleric_class" onclick="Set_Class()"/>
          </td>
          <td align="center">
            Cleric
          </td>
          <td align="center">
            <select name="cleric_level" onchange="Set_Class()">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </td>
        </tr>

        <tr>
          <td align="center">
            <input type="checkbox" name="druid_class" onclick="Set_Class()"/>
          </td>
          <td align="center">
            Druid
          </td>
          <td align="center">
            <select name="druid_level" onchange="Set_Class()">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </td>
        </tr>

        <tr>
          <td align="center">
            <input type="checkbox" name="fighter_class" onclick="Set_Class()"/>
          </td>
          <td align="center">
            Fighter
          </td>
          <td align="center">
            <select name="fighter_level" onchange="Set_Class()">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </td>
        </tr>

        <tr>
          <td align="center">
            <input type="checkbox" name="monk_class" onclick="Set_Class()"/>
          </td>
          <td align="center">
            Monk
          </td>
          <td align="center">
            <select name="monk_level" onchange="Set_Class()">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </td>
        </tr>

        <tr>
          <td align="center">
            <input type="checkbox" name="paladin_class" onclick="Set_Class()"/>
          </td>
          <td align="center">
            Paladin
          </td>
          <td align="center">
            <select name="paladin_level" onchange="Set_Class()">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </td>
        </tr>

        <tr>
          <td align="center">
            <input type="checkbox" name="ranger_class" onclick="Set_Class()"/>
          </td>
          <td align="center">
            Ranger
          </td>
          <td align="center">
            <select name="ranger_level" onchange="Set_Class()">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </td>
        </tr>

        <tr>
          <td align="center">
            <input type="checkbox" name="rogue_class" onclick="Set_Class()"/>
          </td>
          <td align="center">
            Rogue
          </td>
          <td align="center">
            <select name="rogue_level" onchange="Set_Class()">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </td>
        </tr>

        <tr>
          <td align="center">
            <input type="checkbox" name="sorcerer_class" onclick="Set_Class()"/>
          </td>
          <td align="center">
            Sorcerer
          </td>
          <td align="center">
            <select name="sorcerer_level" onchange="Set_Class()">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </td>
        </tr>

        <tr>
          <td align="center">
            <input type="checkbox" name="wizard_class" onclick="Set_Class()"/>
          </td>
          <td align="center">
            Wizard
          </td>
          <td align="center">
            <select name="wizard_level" onchange="Set_Class()">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </td>
        </tr>


        <tr>
          <td></td>
          <td align="center">Total Levels:</td>
          <td align="center">
            <input type="text" size="2" name="total_level" value="1"/>
          </td>
        </tr>

        <tr>
          <td></td>
          <td><br/></td>
          <td></td>
        </tr>
     </table>
     <table width="480">
        <tr>
          <td colspan="2" align="center" class="sub-title">Alignment &amp; Religion</td>
        </tr>


        <tr>
         <td align="right">Alignment:</td>
         <td>
           <select name="alignment" size="1" onchange="Set_Alignment()">
             <option>Lawful Good</option>
             <option>Neutral Good</option>
             <option>Chaotic Good</option>
             <option>Lawful Neutral</option>
             <option>True Neutral</option>
             <option>Chaotic Neutral</option>
             <option>Lawful Evil</option>
             <option>Neutral Evil</option>
             <option>Chaotic Evil</option>
           </select>
           <a href="javascript:return 0;" onclick="Alignment_Help()">Help with Alignments</a>
         </td>
        </tr>

        <tr>
          <td align="right" valign="top">Religion:</td>
          <td align="left">
            <select name="religion" size="1" onchange="Set_Religion()">
              <option>None</option>
              <option>Boccob -- god of magic (neutral)</option>
              <option>Corellon Larenthian -- god of elves (chaotic good)</option>
              <option>Ehlonna -- goddess of woodlands (neutral good)</option>
              <option>Erytnul -- god of slaughter (chaotic evil)</option>
              <option>Fharlanghn -- god of roads (neutral)</option>
              <option>Garl Glittergold -- god of gnomes (neutral good)</option>
              <option>Gruumsh -- gof of orcs (chaotic evil)</option>
              <option>Heironeous -- god of valor (lawful good)</option>
              <option>Hextor -- god of tyranny (lawful evil)</option>
              <option>Kord -- god of strength (chaotic good)</option>
              <option>Moradin -- god of dwarves (lawful good)</option>
              <option>Nerull -- god of death (neutral evil)</option>
              <option>Obad-Hai -- god of nature (neutral)</option>
              <option>Olidammara -- god of rouges (chaotic neutral)</option>
              <option>Pelor -- god of sun (neutral good)</option>
              <option>St.Cuthbert -- god of retribution (lawful neutral)</option>
              <option>Vecna -- god of secrets (neutral evil)</option>
              <option>Wee Jas -- goddess of death (lawful neutral)</option>
              <option>Yondalla -- goddess of halflings (lawful good)</option>
              <option>Other</option>
            </select>
	    <br/>
            If other, please specify:
            <input type="text" name="religion_name" size="15"/>
	    <br/>
            <a href="javascript:return 0;" onclick="Religion_Help()">Help with Religion</a>
	  </td>
        </tr>

     </table>
     <table width="480">
        <tr>
          <td colspan="3" align="center" class="sub-title">
	    Ability Scores<br/>
            <input type="button" value="Manually enter Ability Scores" onclick="Enter_Ability_Scores()"/>
	  </td>
        </tr>
        <tr>
          <td align="right">Ability</td>
          <td align="center">Score</td>
          <td align="center">Modifier</td>
        </tr>

        <tr>
          <td align="right">Strength</td>
          <td align="center">
            <input type="button" name="str_down" value="&lt;" onclick="Ability_Down(1)"/>
            <input type="text" name="strength" size="2"/>
            <input type="button" name="str_up" value="&gt;" onclick="Ability_Up(1)"/>
          </td>
          <td align="center">
            <input type="text" name="str_mod" size="2"/>
          </td>
        </tr>

        <tr>
          <td align="right">Dexterity</td>
          <td align="center">
            <input type="button" name="dex_down" value="&lt;" onclick="Ability_Down(2)"/>
            <input type="text" name="dexterity" size="2"/>
            <input type="button" name="dex_up" value="&gt;" onclick="Ability_Up(2)"/>
          </td>
          <td align="center">
            <input type="text" name="dex_mod" size="2"/>
          </td>
        </tr>

        <tr>
          <td align="right">Constitution</td>
          <td align="center">
            <input type="button" name="con_down" value="&lt;" onclick="Ability_Down(3)"/>
            <input type="text" name="constitution" size="2"/>
            <input type="button" name="con_up" value="&gt;" onclick="Ability_Up(3)"/>
          </td>
          <td align="center">
            <input type="text" name="con_mod" size="2"/>
          </td>
        </tr>
        
        <tr>
          <td align="right">Intelligence</td>
          <td align="center">
            <input type="button" name="int_down" value="&lt;" onclick="Ability_Down(4)"/>
            <input type="text" name="intelligence" size="2"/>
            <input type="button" name="int_up" value="&gt;" onclick="Ability_Up(4)"/>
          </td>
          <td align="center">
            <input type="text" name="int_mod" size="2"/>
          </td>
        </tr>

        <tr>
          <td align="right">Wisdom</td>
          <td align="center">
            <input type="button" name="wis_down" value="&lt;" onclick="Ability_Down(5)"/>
            <input type="text" name="wisdom" size="2"/>
            <input type="button" name="wis_up" value="&gt;" onclick="Ability_Up(5)"/>
          </td>
          <td align="center">
            <input type="text" name="wis_mod" size="2"/>
          </td>
        </tr>

        <tr>
          <td align="right">Charisma</td>
          <td align="center">
            <input type="button" name="chr_down" value="&lt;" onclick="Ability_Down(6)"/>
            <input type="text" name="charisma" size="2"/>
            <input type="button" name="chr_up" value="&gt;" onclick="Ability_Up(6)"/>
          </td>
          <td align="center">
            <input type="text" name="chr_mod" size="2"/>
          </td>
        </tr>

        <tr>
          <td colspan="3"><br/></td>
        </tr>

        <tr>
          <td align="right">
            <input type="button" name="roll" value="Roll Scores" onclick="Roll_Scores()"/>
          </td>
          <td align="center">
            <input type="button" name="roll_help" value="Ability Score Help" onclick="Ability_Help()"/>
          </td>
          <td align="center">
            <input type="button" name="mod_help" value="Swap Ability Scores" onclick="Show_Swap()"/>
	  </td>
        </tr>

     </table>
     <table width="480">
        <tr>
          <td colspan="2" align="center" class="sub-title">
	    Skills<br/>
	  </td>
        </tr>
        <tr>
          <td colspan="2" align="center">Bonus Ability Points:
            <input type="text" name="bonus_ability" size="2"/>
            <a href="javascript: return 0;" onclick="Bonus_Ability_Help()">Help with Bonus Points</a>
          </td>
        </tr>
        <tr>
          <td align="right">
            <input type="button" name="select_skills" value="Select Skills" onclick="Get_Skills()"/>
          </td>
          <td align="left">
            <a href="javascript: return 0;" onclick="Skill_Help()">Help with Skills</a>
          </td>
        </tr>
        <tr>
          <td align="right">
            <input type="button" name="select_feats" value="Select Feats" onclick="Get_Feats()"/>
          </td>
          <td> 
            <a href="javascript: return 0;" onclick="Feat_Help()">Help with Feats</a>
          </td>
        </tr>
        <tr>
         <td align="right">
           <input type="button" name="select_bonus_feats" value="Select Bonus Feats" onclick="Get_Bonus_Feats()"/>
         </td>
         <td>
            <a href="javascript: return 0;" onclick="Bonus_Feat_Help()">Help with Feats</a>
         </td>
        </tr>
        <tr>
          <td align="right">
            <input type="button" name="select_equipment" value="Select Equipment" onclick="Get_Equipment()"/>
          </td>
          <td>
            <a href="javascript: return 0;" onclick="Equipment_Help()">Help with Equipment</a>
          </td>
        </tr>
        <tr>
          <td align="right">
            <input type="button" name="equip_character" value="Equip Character" onclick="Equip_Char()"/>
          </td>
          <td>
            <a href="javascript: return 0;" onclick="Equip_Help()">Help with Equiping</a>
          </td>
        </tr>
        <tr>
          <td align="right">
            <input type="button" name="select_languages" value="Select Languages" onclick="Get_Languages()"/>
          </td>
          <td>
            <a href="javascript: return 0;" onclick="Language_Help()">Help with Languages</a>
          </td>
        </tr>
        <tr>
          <td align="right">
            <input type="button" name="select_spells" value="Select Spells" onclick="Get_Spells()"/>
          </td>
          <td>
            <a href="javascript: return 0;" onclick="Spell_Help()">Help with Spells</a>
          </td>
        </tr>
        <tr>
          <td align="right">
            <input type="button" name="notes" value="Extra Notes" onclick="Display_Notes()"/>
          </td>
          <td>
            <a href="javascript: return 0;" onclick="Notes_Help()">Help with Notes</a>
          </td>
        </tr>

     </table>
     <table width="480">
        <tr>
          <td align="center" class="sub-title">
	    Display<br/>
            <a href="javascript:return 0;" onclick="Display_Help()">Display Help</a>
	  </td>
        </tr>
                
        <tr>
          <td align="center">
            <input type="button" name="display_character" value="Display Character" onclick="Display_Character()"/>
          </td>
        </tr>

     </table>
     <table width="480">
       <tr>
         <td colspan="2" align="center" class="sub-title">
           Load &amp; Save<br/>
          <a href="javascript:return 0;" onclick="Save_Load_Help()">Save/Load Help</a>
         </td>
       </tr>
       <tr>
         <td align="center">
           <input type="button" value="Save Character" onclick="Save_Character('@DND_PATH@','@ID@')"/>
         </td>
         <td align="center">
           <input type="button" value="Load Character" onclick="Display_Load_Character()"/>
         </td>
       </tr>
     </table>

     <table width="480">
       <tr>
         <td align="center" class="sub-title">
           Level<br/>
           <a href="javascript:return 0;" onclick="Level_Up_Help()">Level Up Help</a>
         </td>
       </tr>
       <tr>
         <td align="center">
          <input type="button" value="Level Up" onclick="Display_Level_Up()"/>
         </td>
       </tr>


     </table>

   </form>
   </center>


   <center>
   <br/><br/><br/>
   <font size="-1">
   Written by Jesse Smith,  
   <a href="mailto:slicer69@hotmail.com">slicer69@hotmail.com</a><br/>

   <form>
     <input type="button" value="About" onclick="Show_About()"/><br/>
   </form>

   <a href="@DND_PATH@/dnd45-php.zip">Download the original zip file</a><br/>

   Modified by Alexis Wilke,
   <a href="mailto:alexis@m2osw.com">alexis@m2osw.com</a><br/>
   for <a href="http://drupal.org/project/dnd_character_generator" target="_blank">Drupal</a>
   and <a href="http://www.turnwatcher.com/dnd_character_generator" target="_blank">Turn Watcher</a>
   </font>
   </center>
</div>
