/* CSS file for the D&D Character Generator module */

#dnd-character-generator a {
  font-size: 75%;
  text-decoration: none;
}

#dnd-character-generator .sub-title {
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 15px;
}

#dnd-character-generator table {
  border-collapse: separate;
}
